.main{
    background-color: rgba(0,0,0,0.5);
    height: 600px;
}
.main-contain{
    background-image: url(Images/Dambulla/site_0561_0001-1200-630-20151105161136.jpg);
    background-size: cover;
    background-position-y: top;
    min-height: 600px;
    position: relative;
}
.nav-bar{
    text-align: center;
    position: relative;
    top:0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.nav-bar ul{
    padding-inline-start: 0%;
}

.nav-bar li{
    list-style: none;
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
    padding: 10px 5px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins',sans-serif;
}

.nav-bar ul li{
    list-style: none;
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
    padding: 10px 5px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins',sans-serif;
    position: relative;
    cursor: pointer;
}

.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: white;
}

.nav-bar ul li a:hover{
    color: rgb(13, 173, 117);
}

.nav-bar .drop-down ul{
    display: none;
    position: absolute;
    margin: 10px;
}

.nav-bar ul li:hover ul{
    display: block;
    text-align: left;
    background-color: rgb(0,0,0);
    border-radius: 7px;
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 25%);
    transition: .2s 0s;
    padding-left: 10px;
    padding-right: 50px;
}

.nav-bar i{
    position: absolute;
    top: 15%;
}

.main h1{
    font-family: "Playfair Display";
    color: white;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 215px;
}

.main h2{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
    padding: 7px 10px;
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.places-box{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    margin: 5px;
    align-items: center;
}

.places img{
    width: 300px;
    height: 250px;
    text-align: center;
    margin-left: 6px;
    margin-top: 5px;

}

.places h3{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}

.places h4{
    display: inline;
}

.places p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.places span{
    color: rgb(113, 113, 113);
    font-size: 20px;
    font-weight: 700;
}

.places .des{
    background-color: rgba(57,128,189,.1);
    padding: 5px 5px 5px 10px;
    height: 200px;
}

.places .des h5{
    display: inline;
}

.places .des p{
    font-size: 13px;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
}

.View-point{
    display:table-row;
}

.View-point h1{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.View-point-img{
    margin-right: 50px;
    float: left;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.5);
}

.View-point-img img{
    width: 500px;
}

.View-point-details h2{
    display: inline-block;
}
.View-point-details p{
    display: inline;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

hr{
    margin-top: 36px;
}

footer{
    background-color: #222;
    color: white;
    font-family: 'Poppins',sans-serif;
}

footer .footer_content{
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    padding-left: 10px;
}

footer .footer_content .f-content{
    font-family: 'Poppins',sans-serif;
    text-align:start;
    font-size: 12px;
    line-height: 35px;
}

footer .footer_content .f-content h4{
    text-align: center;
}

footer hr{
    margin: 0px;
}

.footer-img{
    padding-top: 10px;
    font-size: 12px;
    background-color: black;
    text-align: center;
}

.footer-img p{
    margin-top: 0%;
    padding-top: 8px;
    text-align: center;
}